/Library
/Logs
/Temp
/Temp
Temp/UnityLockfile
Temp/FSTimeGet-d6554a3f22adeaf4b90ec093ce8b06a1
/.utmp
/.vs
/sunod-game_BackUpThisFolder_ButDontShipItWithYourGame
TEST
/Temp
/SUNOD Game_BurstDebugInformation_DoNotShip
